.main.work {
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: flex-start;
    max-width: none;
    padding-bottom: var(--site-section-padding-y);
    padding-top: var(--site-page-padding-top);
}
