//***********************************************************//
//**              PAGE LAYOUT AND TYPOGRAPHY               **//
//***********************************************************//

.main.work {
    align-items: flex-start;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 3rem 2rem;
	justify-content: flex-start;
}

// section - grandparent
.work-item {
    align-items: center;
    aspect-ratio: 7 / 4;
    background: radial-gradient(circle at top left, rgba(55, 84, 170, 0.01) 0%, rgba(250, 252, 255, 0.5) 100%);
    border-top-left-radius: 0.875rem;
    border-top-right-radius: 0.75rem;
    border-bottom-left-radius: 0.75rem;
    border-bottom-right-radius: 0.875rem;
    border-width: 0px;
    box-shadow:
            // outside bevel shadow
            0px 0px 0px 0px rgba(55, 84, 170, 0),
            0px 0px 0px 0px rgba(252, 254, 255, 0),
            0px 0px 0px 0px rgba(255, 255, 255, 0),
            0px 0px 0px 0px rgba(55, 84, 170, 0),
            
            // inset line blur
            inset 0px 0px 0px 0px rgba(55, 84, 170, 0),
            inset 0px 0px 0px 0px rgba(252, 254, 255, 0);
    display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin: 0 auto;
    max-width: 408px;
    overflow: hidden;
    position: relative;
    transform: scale(1);
	width: 100%;
    z-index: 1;

    @media only screen and (min-width: 769px) {
        margin: 0;
        max-width: none;
        width: calc(33% - 1rem);
    }
}

// link - parent
.item-wrapper {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    width: 100%;
}

// image - child
.work-teaser {
    display: block;
    height: 100%;
    opacity: 1;
    pointer-events: none;
    position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    width: 100%;
}

// h2 - child
.project-name {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0;
    opacity: 0;
    padding: 0;
    pointer-events: none;
    position: relative;
    transform: scale(1);
    z-index: 2;
}


// HOVER STATE
@media only screen and (hover: hover) {
    .work-item:hover {

        box-shadow:
            // outside bevel shadow
            0px -20px 20px 0px rgba(248, 250, 251, 0.7),
            -20px 0px 20px 0px rgba(252, 254, 255, 0.7),
            -15px -15px 15px 0px rgba(255, 255, 255, 0.7),
            -6px -6px 18px 2px rgba(255, 255, 255, 1),
            

            -6px 6px 15px 5px rgba(55, 84, 170, 0.2),
            6px -6px 15px 5px rgba(55, 84, 170, 0.2),
            6px 6px 15px 5px rgba(55, 84, 170, 0.2),
            
            // inset line blur
            inset -1px -1px 2px 0px rgba(55, 84, 170, 0.1),
            inset 1px 1px 2px 0px rgba(252, 254, 255, 0.5);
        transform: scale(1.01);
        transition: 
            filter 0.125s linear,
            transform 0.05s linear,
            box-shadow 0.125s linear;

        .work-teaser {
            filter: blur(3px) brightness(1.05);
            opacity: 0.035;
            transition: 
                opacity 0.125s ease-out;
        }
        .project-name {
            opacity: 1;
            transform: scale(1.03);
            transition:
                transform 0.125s ease-out,
                opacity 0.125s ease-out;
        }
    }        
}