.html {
    align-items: flex-start;
    background-color: var(--color-background);
    display: flex;
    font-family: var(--font-sans);
    font-size: 16px;
    image-rendering: -webkit-optimize-contrast;
    justify-content: center;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
    scrollbar-gutter: stable;
    -webkit-font-smoothing: antialiased;
    width: 100%;
    z-index: 0;
}

@media (min-width: 1024px) and (max-width: 1279px) {
    .html {
        font-size: 15px;
    }
}

@media (min-width: 1600px) and (max-width: 1919px) {
    .html {
        font-size: 17px;
    }
}

@media (min-width: 1920px) {
    .html {
        font-size: 18px;
    }
}

.body {
    align-items: flex-start;
    background-color: var(--color-background);
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 1;
}
