<footer class="footer">
    <a class="logo container" href="/" aria-label="Jan Michael Wallace II personal brand logo">
        <svg class="logo small" role="img" aria-labelledby="logo-title" width="114" height="113" viewBox="0 0 114 113" fill="none" xmlns="http://www.w3.org/2000/svg">
            <title id="logo-title">Jan Michael dot I O</title>
            <g clip-path="url(#clip0_61_869)">
                <rect x="31.5824" y="0.00012207" width="20.1817" height="112.552" rx="10.0909" fill="#2B849D"/>
                <rect x="92.5104" y="0.00012207" width="20.5698" height="112.552" rx="10.2849" fill="#2B849D"/>
                <rect x="0.919678" y="58.9941" width="20.5698" height="53.5592" rx="10.2849" fill="#2B849D"/>
                <rect x="62.2415" y="0.00012207" width="20.1817" height="112.552" rx="10.0909" fill="#2B849D"/>
            </g>
            <defs>
                <clipPath id="clip0_61_869">
                    <rect width="112.161" height="112.553" fill="white" transform="translate(0.919678)"/>
                </clipPath>
            </defs>
        </svg>
    </a>
    <a class="a" href="/" target="_parent">janmichael.io</a>
    <p class="p">Just another website by <a class="a" href="https://www.linkedin.com/in/jmwii1981/" target="_blank">Jan Michael Wallace II</a></p>
    <div class="social-links-container">
        <a class="social-icon" href="https://www.linkedin.com/in/jmwii1981/" target="_blank"><img src="/_icons/svg/linked-in.svg" alt="LinkedIn"></a>
        <a class="social-icon" href="https://medium.com/@jmwii1981" target="_blank"><img src="/_icons/svg/medium.svg" alt="Medium"></a>
        <a class="social-icon" href="https://github.com/jmwii1981/vita/tree/main" target="_blank"><img src="/_icons/svg/github.svg" alt="GitHub"></a>
    </div>
    <p class="p"><a class="a" href="https://github.com/jmwii1981/vita/blob/main/LICENSE" target="_blank">Public License</a></p>
</footer>