<footer class="footer">
    <section class="site-signature">
        <a class="a site-link" href="{{ site.baseurl }}/">janmichael.io</a>
    </section>
    <section class="copyright">
        <p class="p">&copy; 2026 <a class="a" href="//www.linkedin.com/in/jmwii1981/" target="_blank">Jan Michael Wallace II</a>. All rights reserved. | <a class="a" href="{{ '/terms/' | relative_url }}" target="_parent">Terms Of Use and Privacy Policy</a>.</p>
    </section>
    <section class="social"> 
        <div class="social-links-container">
            <a class="social-icon" href="//www.linkedin.com/in/jmwii1981/" target="_blank">{% include icon.html name="linked-in" %}</a>
            <a class="social-icon" href="//medium.com/@jmwii1981/" target="_blank">{% include icon.html name="medium" %}</a>
            <a class="social-icon" href="//github.com/jmwii1981?tab=repositories/" target="_blank">{% include icon.html name="github" %}</a>
            <a class="social-icon" href="//figma.com/@jmwii1981" target="_blank">{% include icon.html name="figma" %}</a>            
        </div>
    </section>
</footer>
