<header class="header">
    <div class="half-oval">
    </div>
    <a class="a img logo-container" href="{{ site.baseurl }}/" aria-label="Jan Michael Wallace II personal brand logo">
        <svg class="logo large" role="img" aria-labelledby="logo-title" width="158" height="159" viewBox="0 0 158 159" fill="none" xmlns="http://www.w3.org/2000/svg">
            <title id="logo-title">Jan Michael dot I O</title>
            <rect width="158" height="158" rx="16" fill="#121316"/>
            <g clip-path="url(#clip0_61_868)">
                <rect x="53.5824" y="23.0001" width="20.1817" height="112.552" rx="10.0909" fill="#fefefe"/>
                <rect x="114.51" y="23.0001" width="20.5698" height="112.552" rx="10.2849" fill="#fefefe"/>
                <rect x="22.9197" y="81.9941" width="20.5698" height="53.5592" rx="10.2849" fill="#fefefe"/>
                <rect x="84.2415" y="23.0001" width="20.1817" height="112.552" rx="10.0909" fill="#fefefe"/>
            </g>
            <defs>
                <clipPath id="clip0_61_868">
                    <rect width="112.161" height="112.553" fill="#fefefe" transform="translate(22.9197 23)"/>
                </clipPath>
            </defs>
        </svg>
    </a>
    <div class="meta">
        <h1 class="h1">Jan Michael Wallace&nbsp;II</h1>
        <h2 class="h2">Pioneering Inclusive, <span style="white-space: nowrap;">Future-Forward</span> Technology</h2>
        <div class="contact-info">
            <!-- <meta name="robots" content="noindex, nofollow"> -->
            <p class="p">
                United States
                <span class="decorative-bullet">•</span>
                <a class="a" href="mailto:hello&#64;janmichael&#46;io">Email&nbsp;me</a>
                <span class="decorative-bullet">•</span>
                <a class="a" href="tel:+1&#x28;502&#x29;&#x20;7974993">Call&nbsp;me</a>
            </p>
        </div>
    </div>
    {% include nav.html %}
</header>