<header class="header">
    <div class="half-oval">
    </div>
    <a class="a img logo-container large" href="{{ site.baseurl }}/" aria-label="Jan Michael Wallace II personal brand logo">
        <!-- Outer glow on outer frame -->
        <div class="logo large animated-glow"></div>
        <!-- Inner glow on outer frame -->
        <div class="logo large animated-border"></div>
        <!-- SVG logo outer frame and interior columns -->
        <svg class="logo large" role="img" aria-labelledby="logo-title" width="158" height="159" viewBox="0 0 158 159" fill="none" xmlns="http://www.w3.org/2000/svg">
            <title id="logo-title">Jan Michael dot I O</title>
            <!-- Outer frame -->
            <rect width="158" height="158.552" rx="16" fill="#121316" />
            <!-- Interior columns with hoverable glow effect -->
            <path class="anim-col-1" d="M33 92L33 125" stroke="#fefefe" stroke-width="20.57" stroke-linecap="round" />
            <path class="anim-col-2" d="M64 33L64 125" stroke="#fefefe" stroke-width="20.57" stroke-linecap="round" />
            <path class="anim-col-3" d="M95 33L95 125" stroke="#fefefe" stroke-width="20.57" stroke-linecap="round" />
            <path class="anim-col-4" d="M126 33L126 125" stroke="#fefefe" stroke-width="20.57" stroke-linecap="round" />
        </svg> 
    </a>
    <div class="meta">
        <h1 class="h1">Jan Michael Wallace&nbsp;II</h1>
        <h2 class="h2">Pioneering Inclusive, <span style="white-space: nowrap;">Future-Forward</span> Technology</h2>
        <div class="contact-info">
            <!-- <meta name="robots" content="noindex, nofollow"> -->
            <p class="p">
                United States
                <span class="decorative-bullet">•</span>
                <a class="a" href="mailto:hello&#64;janmichael&#46;io">Email&nbsp;me</a>&nbsp;<span class="decorative-bullet">•</span>&nbsp;<a class="a" href="tel:+1&#x28;502&#x29;&#x20;7974993">Call&nbsp;me</a>
            </p>
        </div>
    </div>
    {% include nav.html %}
</header>