<nav class="nav-container">
    <button class="nav-button left"></button>
    <ul class="nav {% if page.url == '/' %}active-work{% endif %}{% if page.url == '/experience/' %}active-experience{% endif %}{% if page.url == '/endorsements/' %}active-endorsements{% endif %}{% if page.url == '/perspectives/' %}active-perspectives{% endif %}{% if page.url == '/about/' %}active-about{% endif %}">
        <li id="work-tab" class="tab-container">
            <a id="work" class="a tab {% if page.url == '/' %}active{% endif %}" href="{{ site.url }}{{ site.baseurl }}/">Work</a>
        </li>
        <li id="experience-tab" class="tab-container">
            <a id="experience" class="a tab {% if page.url == '/experience/' %}active{% endif %}" href="{{ site.url }}{{ site.baseurl }}/experience/">Experience</a>
        </li>
        <li id="perspectives-tab" class="tab-container">
            <a id="perspectives" class="a tab {% if page.url == '/perspectives/' %}active{% endif %}" href="{{ site.url }}{{ site.baseurl }}/perspectives/">Perspectives</a>
        </li>
        <li id="endorsements-tab" class="tab-container">
            <a id="endorsements" class="a tab {% if page.url == '/endorsements/' %}active{% endif %}" href="{{ site.url }}{{ site.baseurl }}/endorsements/">Endorsements</a>
        </li>
        <li id="about-tab" class="tab-container">
            <a id="about" class="a tab {% if page.url == '/about/' %}active{% endif %}" href="{{ site.url }}{{ site.baseurl }}/about/">About</a>
        </li>
        <li id="contact-tab" class="tab-container">
            <a id="contact" class="a tab {% if page.url == '/contact/' %}active{% endif %}" href="{{ site.url }}{{ site.baseurl }}/contact/">Contact me</a>
        </li>
    </ul>
    <button class="nav-button right"></button>
</nav>
