.bio {
    margin: 2rem 0 0;
    width: 100%;

    .p {
        display: flow;
    }
}
.bio-pic-wrapper {
    border-radius: 16px;
    display: inline-flex;
    flex-direction: column;
    float:right;
    margin: 0 0 1rem 2rem;
    max-width: 400px;

    .figcaption {
        color: #666666;
        font-size: .75rem;
        font-weight: 600;
        padding: 1rem 0.5rem 0rem;
        text-align: right;
    }
}
.bio-pic {
    border-radius: 16px;
    display: inline-block;
}