.bio {
    margin: 2rem 0 0;
    width: 100%;

    .p {
        display: flow;
    }
}
.bio-pic-wrapper {
    display: inline-flex;
    flex-direction: column;
    float:right;
    margin: 0 0 1rem 2rem;
    max-width: 400px;
    position: relative;

    .figcaption {
        background-color: rgba(0,0,0,0.8);
        color: #fff;
        font-weight: 400;
        padding: 0.5rem;
        position: absolute;
            left: 0;
            bottom: 0;
        text-align: right;
        width: 100%;
    }
}
.bio-pic {
    border-radius: 0.25rem;
    display: inline;
}