// at 640 break to column

.experience-content-wrapper {
    align-items: center;
    display: inline-flex;
    flex-direction: column;
    gap: 2.5rem;
    width: 100%;

    @media only screen and (min-width: 590px) {
        align-items: flex-start;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
	}
}
.main .experience,
.main .certification,
.main .volunteering,
.main .honors {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    max-width: 24.625rem;
    width: 100%;
    
    @media only screen and (min-width: 590px) {
        max-width: none;
        width: calc(50% - 1.25rem);
    }

    .a {
        margin: 2rem auto 4rem;
        text-align: center;;

        @media only screen and (min-width: 590px) {
            margin: 0 auto;
            margin-left: calc(50% - 7rem);
            text-align: left;
        }
    }
    
}
.honors {
    margin-top: 0;

    @media only screen and (min-width: 590px) {
        margin-top: -32.25rem;
    }

    @media only screen and (min-width: 624px) {
        margin-top: -31.1rem;
    }

    @media only screen and (min-width: 631px) {
        margin-top: -29.75rem;
    }

    @media only screen and (min-width: 633px) {
        margin-top: -25.8rem;
    }

    @media only screen and (min-width: 732px) {
        margin-top: -24.5rem;
    }

    @media only screen and (min-width: 747px) {
        margin-top: -23.3rem;
    }

    @media only screen and (min-width: 768px) {
        margin-top: -21.7rem;
    }
}
.experience-list,
.certification-list,
.volunteering-list,
.honors-list {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding-inline-start: 0;

    @media only screen and (min-width: 590px) {
        align-items: flex-start;
        gap: 2rem;
        padding-inline-start: 4rem;
    }

}
.experience-item,
.certification-item,
.volunteering-item,
.honors-item {
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;

    @media only screen and (min-width: 590px) {
        align-items: flex-start;
    }

    &:before {
        background-color: var(--dark-gray);
        content:"";
        display: block;
        height: 6.45rem;
        position: absolute;
            top: -2.85rem;
            left: 50%;
        width: 0.063rem;
        z-index: -1;

        @media only screen and (min-width: 590px) {
            height: calc(100% + 2rem);
                top: auto;
                left: auto;
                bottom: calc(100% - 2rem);
                right: calc(100% + 2.25rem);
        }
    }
        
    &:first-child:before {
        height: .7rem;
        top: 2.9rem;

        @media only screen and (min-width: 590px) {
            height: 0;
        }
    }
}
.experience-item-logo,
.certification-item-logo,
.volunteering-item-logo,
.honors-item-logo {
	border-color: var(--dark-gray);
	border-radius: 100%;
	border-style: solid;
	border-width: 0.063rem;
	box-shadow: 0 0 0 0.175rem var(--medium-gray);
    display: block;
    height: 3.125rem;
    margin-bottom: 0.5rem;
    width: 3.125rem;

    @media only screen and (min-width: 590px) {
        height: 3.125rem;
        position: absolute;
            top: 0.55rem;
            right: calc(100% + 0.75rem);
        width: 3.125rem;
    }
}
.experience-list .experience-item:first-child .experience-item-logo,
.experience-list .experience-item:nth-child(2) .experience-item-logo {
    border-color: var(--dark-gray);
    border-width: 0.115rem;
    box-shadow: 0 0 0 0.25rem var(--medium-gray);
}
.section-title {
    display: block;
    margin-left: 0 auto 0.25rem;
    text-align: center;

    @media only screen and (min-width: 590px) {
        margin-left: 3.875rem;
        text-align: left;
    }
}
.employer-name,
.certification-name,
.volunteering-name,
.honors-name {
    font-size: 1.25rem; // temp until h5 style
    line-height: 130%;
    margin: 0;

    .light {
        font-weight: 400;
    }
}
.role-held,
.certification-held,
.volunteering-role,
.honors-role {
    font-size: 1rem;
    font-weight: 500;
    line-height: 130%;
    margin: 0;
}
.dates-of-service,
.dates-of-certification,
.dates-of-volunteering,
.dates-of-honors {
    color: var(--darkest-gray);
    line-height: 130%;
    margin: 0;
}