.experience-content-wrapper {
    align-items: center;
    display: inline-flex;
    flex-direction: column;
    gap: 2.5rem;
    width: 100%;

    @media only screen and (min-width: 768px) {
        align-items: flex-start;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
	}
}
.main .experience,
.main .certification,
.main .volunteering,
.main .honors {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    width: 24.625rem;
    
    @media only screen and (min-width: 768px) {
        max-width: none;
        width: calc(50% - 1.5rem);
    }

    .a {
        margin-left: calc(50% - 8.25rem);
        margin-right: auto;

        @media only screen and (min-width: 768px) {
            margin-left: calc(50% - 7rem);
        }
    }
    
}
.honors {
    margin-top: 0;

    @media only screen and (min-width: 768px) {
        margin-top: -22.813rem;
	}
}
.experience-list,
.certification-list,
.volunteering-list,
.honors-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-inline-start: 4rem;
}
.experience-item,
.certification-item,
.volunteering-item,
.honors-item {
    display: flex;
    flex-direction: column;
    position: relative;

    &:before {
        background-color: #D3D3D3;
        content:"";
        display: block;
        height: calc(100% + 2rem);
        position: absolute;
            top: -1rem;
            right: calc(100% + 2.25rem);
        width: 0.063rem;
    }
    &:nth-last-child(1):before,
    &:first-child:before {
        height: calc(50% + 1rem);
    }
    &:first-child:before {
        top: auto;
        bottom: -1rem;
    }
}
.experience-item-logo,
.certification-item-logo,
.volunteering-item-logo,
.honors-item-logo {
	border-color: #D3D3D3;
	border-radius: 100%;
	border-style: solid;
	border-width: 0.063rem;
	box-shadow: 0 0 0 0.175rem #EDF0F6;
    display: block;
    height: 3.125rem;
    position: absolute;
        top: 0.55rem;
        right: calc(100% + 0.75rem);
    width: 3.125rem;
}
.experience-list .experience-item:first-child .experience-item-logo,
.experience-list .experience-item:nth-child(2) .experience-item-logo {
    border-color: #D3D3D3;
    border-width: 0.115rem;
    box-shadow: 0 0 0 0.25rem #EDF0F6;
}
.section-title {
    display: block;
    margin-left: calc(50% - 8.25rem);
    margin-right: auto;
    margin-bottom: 0.25rem;

    @media only screen and (min-width: 768px) {
        margin-left: 3.875rem;
    }
}
.employer-name,
.certification-name,
.volunteering-name,
.honors-name {
    font-size: 1.25rem; // temp until h5 style
    line-height: 130%;
    margin: 0;

    .light {
        font-weight: 400;
    }
}
.role-held,
.certification-held,
.volunteering-role,
.honors-role {
    font-size: 1rem;
    font-weight: 500;
    line-height: 130%;
    margin: 0;
}
.dates-of-service,
.dates-of-certification,
.dates-of-volunteering,
.dates-of-honors {
    color: #666666;
    line-height: 130%;
    margin: 0;
}