//***********************************************************//
//**                 PAGE DESIGN ELEMENTS                  **//
//***********************************************************//
.headshot {
	border-color: #D3D3D3;
	border-radius: 100%;
	border-style: solid;
	border-width: 1px;
	box-shadow: 0 0 0 12px #EDF0F6;
	height: 8rem;
	margin: 2rem auto;
	width: 8rem;
}

//***********************************************************//
//**              PAGE LAYOUT AND TYPOGRAPHY               **//
//***********************************************************//
.main.recommendations {
	flex-direction: row;
	flex-wrap: wrap;
	gap: 3rem;

}

.recommendation {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin: 0 auto;
	max-width: 500px;
	width: 100%;

	@media only screen and (min-width: 768px) {
		max-width: none;
		width: calc(50% - 1.5rem);
	}
}

.rec-meta {
	align-items: center;
	display: flex;
	flex-direction: column;

	.h2 {
		line-height: 1.25;
		margin: 0;
		text-align: center;
		width: 100%;
	}
	.h3 {
		color: #666666;
		font-size: 18px;
		font-weight: 400;
		line-height: 1.25;
		margin: 0;
		text-align: center;
		width: 100%;
	}
}
.description {
	padding: 0;
    width: 100%;
}


//* IN PROGRESS *//

.toggle-checkbox,
.toggle-label .read-less,
.toggle-label .read-more {
	display: none;
}

@media only screen and (max-width: 899px) {
	.truncate-read-more {
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 5;
		min-height: 10rem;
		max-height: 10rem;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.toggle-checkbox:checked ~ .truncate-read-more {
		-webkit-line-clamp: unset;
		max-height: none;
		overflow: visible;
	}
	
	.toggle-label {
		cursor: pointer;
		display: block;
		font-weight: bold;
		margin-top: 1rem;
	}

	.toggle-label .read-more,
	.toggle-checkbox:checked ~ .toggle-label .read-less {
		display: block;
	}
	.toggle-checkbox:checked ~ .toggle-label .read-more {
		display: none;
	}
}