// HEADER CONTAINER
.header {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 4rem 4px 0;
    position: relative;
    width: 100%;
}
.meta {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.contact-info .p {
    color: #666666;
}