//***********************************************************//
//**                 PAGE DESIGN ELEMENTS                  **//
//***********************************************************//
.headshot {
	border-color: #D3D3D3;
	border-radius: 100%;
	border-style: solid;
	border-width: 1px;
	box-shadow: 0 0 0 12px #F8FAFD;
	height: 8rem;
	margin: 2rem auto;
	width: 8rem;
}

.hr {
	background-color: #D3D3D3;
	border: 0;
	display: block;
	height: 1px;
	margin: 0;
	width: 30%;
}

//***********************************************************//
//**              PAGE LAYOUT AND TYPOGRAPHY               **//
//***********************************************************//
.recommendation {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin: 0 auto 24px;
	padding: 2rem;

	&:nth-child(1) {
		padding-top: .05rem;
	}
}
.rec-meta {
	align-items: center;
	display: flex;
	flex-direction: column;

	.h2 {
		line-height: 1.25;
		margin: 0;
		text-align: center;
		width: 100%;
	}
	.h3 {
		color: #666666;
		font-size: 18px;
		font-weight: 400;
		line-height: 1.25;
		margin: 0;
		text-align: center;
		width: 100%;
	}
}
.description {
	padding: 0 64px;
    width: 100%;
	.p {
		color: #666666;
		font-weight: 400;
		line-height: 1.75;
		width: 100%;
	}
}