//***********************************************************//
//**                 PAGE DESIGN ELEMENTS                  **//
//***********************************************************//
.headshot {
	border-color: #D3D3D3;
	border-radius: 100%;
	border-style: solid;
	border-width: 1px;
	box-shadow: 0 0 0 12px #EDF0F6;
	height: 8rem;
	margin: 2rem auto;
	width: 8rem;
}

//***********************************************************//
//**              PAGE LAYOUT AND TYPOGRAPHY               **//
//***********************************************************//
.main.recommendations {
	align-items: flex-start;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 3rem;
	justify-content: flex-start;
	max-width: 1024px;
	width: 100%;
}

.recommendation {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin: 0 auto;
	max-width: 500px;
	width: 100%;

	@media only screen and (min-width: 900px) {
		max-width: none;
		width: calc(50% - 3rem);
	}
}

.rec-meta {
	align-items: center;
	display: flex;
	flex-direction: column;

	.h2 {
		line-height: 1.25;
		margin: 0;
		text-align: center;
		width: 100%;
	}
	.h3 {
		color: #666666;
		font-size: 18px;
		font-weight: 400;
		line-height: 1.25;
		margin: 0;
		text-align: center;
		width: 100%;
	}
}
.description {
	padding: 0;
    width: 100%;
	.p {
		color: #666666;
		font-weight: 400;
		line-height: 1.75;
		width: 100%;
	}
}