// FOOTER CONTAINER
.footer {
	align-items: center;
	display: flex;
	margin: 0 auto;
	padding: 3rem;
    justify-content: space-between;
	width: 100%;

    // ALL FOOTER SECTIONS
    > section {
        flex: 1 1 0;
        min-width: 0;
    }

    .p {
        color:var(--color-primary-link);
        color: #7B808B;
        display: block;
        margin: 0 auto;
        padding: 0;
        text-align: center;

        .a {
            color: #7B808B;
        }
    }
    // SITE IDENTIFICATION
    .site-signature {
        margin-bottom: 0;

        .a {
            justify-self: flex-start;
            white-space: nowrap;
        }
    }
    // SOCIAL LIST
    .social-links-container {
        align-self: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 0.5rem;
        justify-content: flex-end;
        margin: 0 auto;
        padding: 0;
    }
}
