.footer {
    align-items: center;
    display: flex;
    margin: 0 auto;
    padding: 3rem var(--site-content-padding);
    justify-content: space-between;

    > section {
        flex: 1 1 0;
        min-width: 0;
    }

    .p {
        color: var(--color-icon-muted);
        display: block;
        margin: 0 auto;
        padding: 0;
        text-align: center;

        .a {
            color: var(--color-icon-muted);
        }
    }

    .site-signature {
        margin-bottom: 0;

        .a {
            justify-self: flex-start;
            white-space: nowrap;
        }
    }

    .social-links-container {
        align-self: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 0.5rem;
        justify-content: flex-end;
        margin: 0 auto;
        padding: 0;

        .social-icon {
            transform: scale(0.8);
        }
    }
}
