.button {
    background-color: var(--color-link);
    color: var(--color-inverse-text);
    font-size: 1.1rem;
    letter-spacing: 0.1rem;
    padding: 1.1rem 1.3rem;
    text-transform: uppercase;
}
