<!doctype html>
<html class="html html-background--light-mode html-background--dark-mode" xmlns="http://www.w3.org/1999/xhtml" lang="en" data-theme="light">
<head>
    <!-- META -->
    <!-- view -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <!-- <meta name="theme-color" content="#151524" media="(prefers-color-scheme: light)"> -->
    <!-- <meta name="theme-color" content="#151524" media="(prefers-color-scheme: dark)"> -->

    <!-- site identity taxonomy -->
    <title>Jan Michael Wallace II
        {% if page.url == '/' %}{% endif %}
        {% if page.url == '/experience/' %} – Experience{% endif %}
        {% if page.url == '/endorsements/' %} – endorsements{% endif %}
        {% if page.url == '/perspectives/' %} – Perspectives{% endif %}
        {% if page.url == '/about/' %} – About{% endif %}
    </title>
    <meta name="description" content="The portfolio of Jan Michael Wallace II. An inclusive, future-forward product design leader and technologist.">
    <meta name="robots" content="index, follow">
    <link rel="sitemap" type="application/xml" title="Sitemap" href="{{ site.url }}{{ site.baseurl }}/sitemap.xml" />
    <link rel="author" href="{{ site.url }}{{ site.baseurl }}/about/" />
    <link rel="canonical" href="{{ site.url }}{{ site.baseurl }}{{ page.url }}" />
   

    <!-- social general og -->
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="website">
        {% if page.url == '/' %}<meta property="og:title" content="Jan Michael Wallace II">{% endif %}
        {% if page.url == '/experience/' %}<meta property="og:title" content="Jan Michael Wallace II – Experience">{% endif %}
        {% if page.url == '/endorsements/' %}<meta property="og:title" content="Jan Michael Wallace II – endorsements">{% endif %}
        {% if page.url == '/perspectives/' %}<meta property="og:title" content="Jan Michael Wallace II – Perspectives">{% endif %}
        {% if page.url == '/about/' %}<meta property="og:title" content="Jan Michael Wallace II – About">{% endif %}
    <meta property="og:description" content="The portfolio of Jan Michael Wallace II. An inclusive, future-forward product design leader and technologist.">
    <meta property="og:url" content="{{ site.url }}{{ site.baseurl }}{{ page.url }}">
        {% if page.url == '/' %}<meta property="og:site_name" content="Jan Michael Wallace II">{% endif %}
        {% if page.url == '/experience/' %}<meta property="og:site_name" content="Jan Michael Wallace II – Experience">{% endif %}
        {% if page.url == '/endorsements/' %}<meta property="og:site_name" content="Jan Michael Wallace II – endorsements">{% endif %}
        {% if page.url == '/perspectives/' %}<meta property="og:site_name" content="Jan Michael Wallace II – Perspectives">{% endif %}
        {% if page.url == '/about/' %}<meta property="og:site_name" content="Jan Michael Wallace II – About">{% endif %}

    <!-- facebook og -->
    <meta property="og:image" content="{{ site.url }}{{ site.baseurl }}/images/facebook-og-image.jpg">
    <meta property="og:image:width" content="300">
    <meta property="og:image:height" content="132">
    <meta property="og:image:type" content="image/jpeg">

    <!-- threads og -->
    <meta name="threads:card" content="summary_large_image">
    <meta name="threads:image" content="{{ site.url }}{{ site.baseurl }}/images/threads-og-image.jpg">
        {% if page.url == '/' %}<meta name="threads:title" content="Jan Michael Wallace II">{% endif %}
        {% if page.url == '/experience/' %}<meta name="threads:title" content="Jan Michael Wallace II – Experience">{% endif %}
        {% if page.url == '/endorsements/' %}<meta name="threads:title" content="Jan Michael Wallace II – endorsements">{% endif %}
        {% if page.url == '/perspectives/' %}<meta name="threads:title" content="Jan Michael Wallace II – Perspectives">{% endif %}
        {% if page.url == '/about/' %}<meta name="threads:title" content="Jan Michael Wallace II – About">{% endif %}
    <meta name="threads:site" content="@jmwii1981">
    <!-- <meta name="threads:label1" content="Est. reading time"> -->
    <!-- <meta name="threads:data1" content="5 minutes"> -->

    <!-- twitter og -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Jan Michael Wallace">
    <meta name="twitter:description" content="The portfolio of Jan Michael Wallace II. An inclusive, future-forward product design leader and technologist.">
    <meta name="twitter:image" content="{{ site.url }}{{ site.baseurl }}/images/twitter-og-image.jpg">    

    <script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "Person",
          "name": "Jan Michael Wallace II",
          "url": "{{ site.url }}",
          "sameAs": [
            "https://linkedin.com/in/jmwii1981",
            "https://medium.com/@jmwii1981",
            "https://codepen.io/jmwii1981",
            "https://github.com/jmwii1981",
            "https://figma.com/@jmwii1981",
          ],
          "jobTitle": "Manager of Product Design",
          "worksFor": {
            "@type": "Organization",
            "name": "Global Payments"
          }
        }
    </script>
        

    <!-- favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ site.url }}{{ site.baseurl }}/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ site.url }}{{ site.baseurl }}/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="194x194" href="{{ site.url }}{{ site.baseurl }}/favicons/favicon-194x194.png">
    <link rel="icon" type="image/png" sizes="192x192" href="{{ site.url }}{{ site.baseurl }}/favicons/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ site.url }}{{ site.baseurl }}/favicons/favicon-16x16.png">
    <link rel="manifest" href="{{ site.url }}{{ site.baseurl }}/favicons/site.webmanifest">
    <link rel="mask-icon" href="{{ site.url }}{{ site.baseurl }}/favicons/safari-pinned-tab.svg" color="#010101">
    <link rel="shortcut icon" href="{{ site.url }}{{ site.baseurl }}/favicons/favicon.ico">
    <meta name="msapplication-TileColor" content="#010101">
    <meta name="msapplication-config" content="{{ site.url }}{{ site.baseurl }}/favicons/browserconfig.xml">
    <meta name="theme-color" content="#010101">

    <!-- STYLES -->
    <link rel="stylesheet" href="{{ '/master.css' | relative_url }}">



    <!-- SCRIPTS -->
    <script type="module" src="/scripts/initializeScripts.js"></script>
    <script>
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-53BZRHG');
    </script>
</head>
<body class="body">
	<noscript>
		<!-- Google Tag Manager (noscript) -->
		<iframe src="//www.googletagmanager.com/ns.html?id=GTM-53BZRHG" height="0" width="0" style="display:none;visibility:hidden"></iframe>
	</noscript>
{% include header.html %}

{{ content }}

{% include footer.html %}
</body>
</html>