// PT SERIF CAPTION //

/* pt-serif-caption-regular - latin-ext_latin */
@font-face {
    font-family: 'PT Serif Caption';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/pt-serif-caption-v17-latin-ext_latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/pt-serif-caption-v17-latin-ext_latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* pt-serif-caption-italic - latin-ext_latin */
  @font-face {
    font-family: 'PT Serif Caption';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/pt-serif-caption-v17-latin-ext_latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/pt-serif-caption-v17-latin-ext_latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  
  
  
// HEEBO //

/* heebo-200 - latin */
@font-face {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
    src: url('../fonts/heebo-v20-latin-200.woff2') format('woff2'),
       url('../fonts/heebo-v20-latin-200.woff') format('woff');
}

/* heebo-300 - latin */
@font-face {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
    src: url('../fonts/heebo-v20-latin-300.woff2') format('woff2'),
       url('../fonts/heebo-v20-latin-300.woff') format('woff');
}

/* heebo-regular - latin */
@font-face {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
    src: url('../fonts/heebo-v20-latin-regular.woff2') format('woff2'),
       url('../fonts/heebo-v20-latin-regular.woff') format('woff');
}

/* heebo-500 - latin */
@font-face {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
    src: url('../fonts/heebo-v20-latin-500.woff2') format('woff2'),
       url('../fonts/heebo-v20-latin-500.woff') format('woff');
}

/* heebo-600 - latin */
@font-face {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
    src: url('../fonts/heebo-v20-latin-600.woff2') format('woff2'),
       url('../fonts/heebo-v20-latin-600.woff') format('woff');
}

/* heebo-700 - latin */
@font-face {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
    src: url('../fonts/heebo-v20-latin-700.woff2') format('woff2'),
       url('../fonts/heebo-v20-latin-700.woff') format('woff');
}
